<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vullnetlimani.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />

        <activity
            android:name=".activites.RecylerViewActivity"
            android:label="@string/title_activity_recyclerview" />
        <activity
            android:name=".activites.ListViewActivity"
            android:label="@string/title_activity_listview" />
        <activity
            android:name=".activites.TicTacToeGame"
            android:label="@string/title_activity_tictactoe" />
        <activity
            android:name=".activites.Calculator"
            android:label="@string/title_activity_calculator" />
        <activity
            android:name=".activites.InputTextActivity"
            android:label="@string/title_activity_input_text" />
        <activity
            android:name=".activites.FragmentActivity"
            android:label="@string/title_activity_fragment" />
        <activity
            android:name=".activites.ViewPagerAcitivty"
            android:label="@string/title_activity_view_pager" />
        <activity
            android:name=".activites.ViewPagerActivity_for_Views"
            android:label="@string/title_activity_viewpagerforViews" />
        <activity
            android:name=".activites.DatabaseTutorialAct"
            android:label="@string/title_activity_database_tutorial" />
        <activity
            android:name=".activites.DatabaseAct.InsertData"
            android:label="@string/insert_data" />
        <activity
            android:name=".activites.DatabaseAct.ViewData"
            android:label="@string/view_data" />
        <activity
            android:name=".activites.DatabaseAct.SearchData"
            android:label="@string/search_data" />
        <activity
            android:name=".activites.DatabaseAct.EditViewData"
            android:label="@string/edit_data" />
        <activity
            android:name=".activites.About"
            android:label="@string/title_activity_About" />
    </application>

</manifest>